<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre Login</title>
<%- include('./partials/styles') %>
</head>
<body>
<%- include('./partials/header') %>

    <form action="/" method="get" class="form-login">
        <div class="icono-login">
            <i class="fa-solid fa-user"></i>
        </div>

        <div class="form-control">
            <input type="text" name="nombreUsuario" placeholder="Nombre de Usuario" required class="txt-control">
        </div>
        
        <div class="form-control">
            <input type="password" name="password" placeholder="contraseña" required minlength="8" class="txt-control">
        </div>
        
        <button type="submit" class="form-boton">Enviar</button>
        
    </form>

<%- include('./partials/footer') %>
<!-- fontawesome iconos -->
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>
</html>