<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto</title>
<%- include('./partials/styles') %>
</head>
<body>
<%- include('./partials/header') %>

    <form action="crear-producto" method="post" class="form-crea-producto">
        <div class="form-control">
            <label for="nombre">Nombre del producto:</label>
            <input type="text" name="nombre"required class="txt-control">
        </div>

        <div class="form-control">
            <label for="precio">Precio:</label>
            <input type="text" name="precio"required class="txt-control">
        </div>

        <div class="form-control">
            <label for="categoria">Categoría:</label>
            <select name="categoria" class="txt-control">
                <option value="hogar">Hogar</option>
                <option value="electro">Electro</option>
                <option value="indumentaria">Indumentaria</option>
            </select>
        </div>

        <div class="form-control">
            <label for="ciudad">Ciudad:</label>
            <select name="ciudad" class="txt-control">
                <option value="baires">Buenos Aires</option>
                <option value="ros">Rosario</option>
                <option value="mdz">Mendoza</option>
            </select>
        </div>
        
        <div class="form-control">
            <label for="descripcion">Descripción:</label>
            <textarea name="descripcion" class="txt-control"></textarea>
        </div>

        <div class="form-control-oferta">
            <label for="enOferta">Esta en oferta:</label>
            <input type="radio" name="enOferta">
        </div>
        
        <div class="form-botones">
            <button type="submit" class="form-boton">Guardar</button>
            <button type="reset" class="form-boton">Borrar</button>
        </div>
    </form>

<%- include('./partials/footer') %>

    <!-- fontawesome iconos -->
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>
</html>